.bs-component
  .panel.panel-default
    .panel-heading
      %h4.text-muted
        %i.fa.fa-ship
        = link_to @canoe.title, canoe_home_path(@canoe)
      %h3
        %i.fa.fa-users
        구성원
        %small
          = link_to new_canoe_crew_path(@canoe) do
            %i.fa.fa-user-plus
    .panel-body
      %ul
        %li
          = user_byline @canoe.user
          %span.label.label-warning 만든이
        - @canoe.crews.exclude_captain.each do |crew|
          %li
            = user_byline crew.user
  .panel.panel-default
    .panel-heading
      %h3
        %i.fa.fa-sign-in
        가입요청
    .panel-body
      %ul
        - @canoe.request_to_joins.each do |req|
          %li
            = user_byline req.user
            = link_to '승락', accept_canoe_request_to_join_path(canoe_id: @canoe, id: req), method: :post, class: 'btn btn-xs btn-primary'
