- if @notification.is_read?(current_user)
  $('##{dom_id(@notification)} .read-check').show();
  $('##{dom_id(@notification)} .unread-check').hide();
  $('##{dom_id(@notification)}').removeClass('alert-unread');
- else
  $('##{dom_id(@notification)} .read-check').hide();
  $('##{dom_id(@notification)} .unread-check').show();
  $('##{dom_id(@notification)}').addClass('alert-unread');

- if @has_unread
  $('.read-check-all').hide();
  $('.unread-check-all').show();
- else
  $('.read-check-all').show();
  $('.unread-check-all').hide();

"#{current_user.mailbox.notifications.unread.inspect}";
