%li.media.timeline.timeline-opinion.opinion[opinion](onmouseover="$('.reaction_button').addClass('hidden'); $('##{dom_id(opinion)} .reaction_button').removeClass('hidden');")
  .media-left
    %a{:href => "#"}
      = image_tag opinion.user.image_url, class: 'media-object img-circle', style: 'width:64px;height:64px;'
  .media-body
    %h5.media-heading
      %strong= opinion.user.nickname
      %span.text-muted(style='margin-left: 10px;')
        %i.fa.fa-clock-o
        = date_f opinion.created_at
      %span.text-muted.text-nowrap(style='margin-left: 10px;')
        - if can? :update, opinion
          = link_to [:edit, opinion] do
            %i.fa.fa-edit
        - if can? :destroy, opinion
          = link_to opinion, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} do
            %i.fa.fa-trash
        %button.btn-link
          = render partial: 'attachments/button', locals: { attachable: opinion }
    %div
      = opinion_body(opinion)
      - opinion.reactions.group(:token).count.each do |token, count|
        = reaction_label opinion, token, count
      %p
        &nbsp;
        - if can? :create, Reaction
          %span.reaction_button
            %a.text-muted{"href" => "#", "data-content" => "#{render partial: 'reaction_popover', locals: {opinion: opinion}}", "data-placement" => "right", "data-html" => "true", "data-toggle" => "webui-popover", :title => "", :type => "button", :style => "color: #cccccc; text-decoration: none;"}
              %i.fa.fa-plus-square
              호응하기
    = render partial: 'attachments/collection', locals: { attachable: opinion }
    .opinion__body--embeded
