%li.media[opinion]
  - if params[:controller] != 'discussions'
    .media-head
      = link_to canoe_home_path(opinion.discussion.canoe) do
        %i.fa.fa-ship
        = opinion.discussion.canoe.title
      &nbsp;
      = link_to opinion.discussion do
        %i.fa.fa-flag
        = opinion.discussion.subject
  .media-left
    %a{:href => "#"}
      = image_tag opinion.user.image_url, class: 'media-object img-circle', style: 'width:64px;height:64px;'
  .media-body
    %h5.media-heading
      %strong= opinion.user.nickname
      .pull-right
        %span.text-muted
          %i.fa.fa-clock-o
          = date_f opinion.created_at
        - if opinion.user == current_user
          = link_to [:edit, opinion] do
            %i.fa.fa-edit
          = link_to opinion, method: :delete do
            %i.fa.fa-trash
    %div
      = simple_format opinion.body
