.bs-component
  .container
    .panel.panel-default
      .panel-heading
        %h4.text-muted
          %i.fa.fa-ship
          = link_to @canoe.title, canoe_home_path(@canoe)
          %i.fa.fa-flag
          = link_to @discussion.subject, @discussion
        %h3
          %i.fa.fa-comments
          의견
          %small
            = user_byline @opinion.user
            %i.fa.fa-clock-o
            = date_f @opinion.created_at
            - if can? :update, @opinion
              = link_to [:edit, @opinion] do
                %i.fa.fa-edit
              = link_to @opinion, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} do
                %i.fa.fa-trash
      .panel-body
        = smart_body(@opinion.body)
