#discussion__decision.clearfix(style='margin: 20px 0;')
  .clearfix
    .canoe-toggle-item
      %div.discussion__decision__body(style='margin-bottom: 20px')
        %strong
          - if @discussion.decision.present?
            = smart_body(@discussion.decision, {data: { toggle: 'preview', stage: "#discussion__decision .attachments--image" } })
          - if @discussion.decision.blank?
            아직 결정된 사항이 없습니다.
    - if can? :update, @discussion
      .canoe-toggle-item.hidden
        = form_for @discussion do |f|
          .form-group
            = f.text_area :decision, placeholder: '모두 볼 수 있도록 현재까지 결정한 사항을 적어주세요', autofocus: true, class: 'form-control'
          .form-group.pull-right
            = f.submit '저장하기', class: 'btn btn-primary'
        %button.btn.btn-default(role="button" data-toggle="canoe-toggle" data-parent="#discussion__decision") << 닫기
  = render partial: 'attachments/collection', locals: { attachable: @discussion }

