- unread = user_signed_in? && discussion.unread?(current_user)
- tr_class = unread ? 'alert-unread' : ''
%tr[discussion]{ class: tr_class }
  %td
    %h4
      %span.label.label-default(style='padding: 0 0.3em; background-color:rgba(153, 153, 153, 0.4);')= discussion.sequential_id
      = link_to discussion.subject, discussion_home_path(discussion)
      %small
        (
        %span
          %i.fa.fa-comments
          = discussion.opinions.count
        %span
          %i.fa.fa-rocket
          = discussion.proposals.count
        )
    - if discussion.decision.present?
      %p
        .clearfix.text-success.discussion__decision__body
          %i.fa.fa-thumb-tack.pull-left
          = smart_body(discussion.decision)
  %td.text-right{ style: 'min-width: 120px' }
    %div= user_byline discussion.user
    %div.text-muted
      %i.fa.fa-clock-o
      = date_f discussion.discussed_at
