- unread = user_signed_in? && discussion.unread?(current_user)
- tr_class = unread ? 'alert-unread' : ''
%tr[discussion]{ class: tr_class }
  %td
    %h4
      %span.label.label-default(style='padding: 0 0.3em; background-color:rgba(153, 153, 153, 0.4);')= discussion.sequential_id
      = link_to discussion.subject, discussion_home_path(discussion)
      %small
        (
        %span
          %i.fa.fa-comments
          = discussion.opinions.count
        %span
          %i.fa.fa-rocket
          = discussion.proposals.count
        %span
          %i.fa.fa-clock-o
          = date_f discussion.discussed_at
        )
    - if discussion.decision.present?
      %p
        .text-success.discussion__decision__body
          %i.fa.fa-thumb-tack
          = smart_body(discussion.decision, nil, wrapper_tag: 'span')
    - if discussion.newest_proposal_or_opinion.present?
      %p
        .discussion__newest_proposal_or_opinion__body
          - if discussion.newest_proposal_or_opinion.is_a?(Proposal)
            %i.fa.fa-rocket
          - if discussion.newest_proposal_or_opinion.is_a?(Opinion)
            %i.fa.fa-comment
          = smart_body(discussion.newest_proposal_or_opinion.body, nil, wrapper_tag: 'span')
          %span(style='margin-left: 1em;')
          = user_byline discussion.newest_proposal_or_opinion.user

