= form_for (@discussion.new_record? ? [@discussion.canoe, @discussion] : @discussion) do |f|
  .form-group
    = f.label :subject
    = f.text_field :subject, class: 'form-control'
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control'
  = f.submit '저장', class: 'btn btn-default'
