- unless user_signed_in?
  = render 'intro'

%section.bs-component
  .container
    - if current_user.joined_canoes.empty?
      .jumbotron
        %h2
          카누를 타고 산으로 갑시다!
        %p
          %strong #{Canoe.count}
          개의 카누를,
          %strong #{User.count}
          명이 나눠 타고 산으로 가고 있습니다.
          %br
          찾고 싶은 카누가 있으세요?
        .text-center
          = form_tag search_canoes_path, method: :get, class: 'form-inline', style: 'margin-top: 20px' do
            .form-group
              = text_field_tag :q, params[:q], class: 'form-control', style: 'width: 25em;'
            = submit_tag '찾기', class: 'btn btn-default'
    .swiper-container(style='padding: 0 80px;')
      .swiper-wrapper
        - @canoes.each do |canoe|
          .swiper-slide= render canoe
      .swiper-button-prev
      .swiper-button-next
    - if @discussions.try(:any?)
      %hr
      .panel.panel-default
        .panel-heading
          %h4.text-muted
            %i.fa.fa-flag
            최근 논의
        %ul.list-group
          - @discussions.each do |discussion|
            %li.list-group-item
              %small
                = link_to canoe_home_path(discussion.canoe) do
                  = image_tag discussion.canoe.logo_url, style: 'width: 13px; height: 13px; margin-right: 1px; border: 1px solid #efefef;'
                  = discussion.canoe.title
              = render discussion
