.bs-component
  .container
    .page-header
      %h3
        - if params[:list] == 'all'
          %i.fa.fa-comments
          다른 카누 논의
          %small
            = link_to discussions_path do
              내 카누 논의
              - if @unread_count > 0
                %span.badge= @unread_count
        - else
          %i.fa.fa-comments
          내 카누 논의
          - if @unread_count > 0
            %span.badge.bg-danger(style='font-size: 50%; background-color: black;')= @unread_count
          %small
            = link_to discussions_path({list: 'all'}) do
              다른 카누 논의

    - if @unread_discussions.try(:any?)
      %h4
        %i.fa.fa-comment
        읽지 않은 논의
        %strong= @unread_count
        개
      - @unread_discussions.group_by(&:canoe).each do |canoe, discussions|
        .panel.panel-default
          .panel-heading
            = link_to canoe_home_path(canoe) do
              = image_tag canoe.logo_url, class: 'img-thumbnail', style: 'width: 23px; height: 23px; margin-right: 1px;'
              = canoe.title
          %table.table
            %tbody
              = render discussions


    - if @discussions.any?
      %h4
        %i.fa.fa-comment
        최근 진행된 논의
      - @discussions.group_by(&:canoe).each do |canoe, discussions|
        .panel.panel-default
          .panel-heading
            = link_to canoe_home_path(canoe) do
              = image_tag canoe.logo_url, class: 'img-thumbnail', style: 'width: 23px; height: 23px; margin-right: 1px;'
              = canoe.title
          %table.table
            %tbody
              = render discussions
    - else
      .panel.panel-default
        .panel-body
          %p.lead.text-muted.text-center
            최근 진행된 논의가 없습니다.
