.bs-component
  .container
    .page-header
      %h3
        - if params[:list] == 'all'
          %i.fa.fa-comments
          다른 카누 논의
          %small
            = link_to discussions_path do
              내 카누 논의
              - if @unread_count > 0
                %span.badge= @unread_count
        - else
          %i.fa.fa-comments
          내 카누 논의
          - if @unread_count > 0
            %span.badge.bg-danger(style='font-size: 50%; background-color: black;')= @unread_count
          %small
            = link_to discussions_path({list: 'all'}) do
              다른 카누 논의

    - if @unread_discussions.try(:any?)
      .panel.panel-default
        .panel-heading
          읽지 않은 논의
          %strong= @unread_count
          개
        %table.table
          %tbody
            = render @unread_discussions

    .panel.panel-default
      - if @discussions.any?
        .panel-heading
          최근 진행된 논의
        %table.table
          %tbody
            = render @discussions
      - else
        .panel-body
          %p.lead.text-muted.text-center
            최근 진행된 논의가 없습니다.
