.bs-component
  .container
    %ul.nav.nav-tabs.nav-justified{ style: 'margin-bottom: 20px;' }
      %li{ class: params[:list].nil? ? 'active' : '' }
        = link_to '내 카누의 최근 논의', discussions_path
      %li{ class: params[:list] == 'unread' ? 'active' : '' }
        = link_to discussions_path({list: 'unread'}) do
          읽지 않은 논의
          %span.badge= @unread_discussions.count
      %li{ class: params[:list] == 'all' ? 'active' : '' }
        = link_to '전체 논의', discussions_path({list: 'all'})

    - unless @discussions.empty?
      .tab-content
        .panel.panel-default
          %table.table
            %tbody
              = render @discussions
