%h1
  논의
  = @discussion.subject
  %small
    = link_to [:edit, @discussion] do
      %i.fa.fa-edit
    = link_to @discussion, method: :delete do
      %i.fa.fa-trash

%p.lead= @discussion.body

%ul
  - @discussion.opinions.each do |opinion|
    %li
      = opinion.body
      = opinion.user.email
      = link_to [:edit, opinion] do
        %i.fa.fa-edit
      = link_to opinion, method: :delete do
        %i.fa.fa-trash
  = form_for [@discussion, @discussion.opinions.build] do |f|
    = f.label :body
    = f.text_area :body
    = f.submit

%ul
  - @discussion.proposals.each do |proposal|
    %li
      = proposal.body
      = proposal.user.email
      = link_to [:edit, proposal] do
        %i.fa.fa-edit
      = link_to proposal, method: :delete do
        %i.fa.fa-trash
  = form_for [@discussion, @discussion.proposals.build] do |f|
    = f.label :body
    = f.text_area :body
    = f.submit
