= render 'canoes/canoe_header'

.bs-component
  .container
    .panel.panel-default
      .panel-heading
        .clearfix
          .pull-left
            = user_byline @discussion.user
          .pull-right
            %i.fa.fa-clock-o
            = date_f @discussion.created_at
            - if can? :edit, @discussion
              = link_to [:edit, @discussion] do
                %i.fa.fa-edit
            - if can? :destroy, @discussion
              = link_to @discussion, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} do
                %i.fa.fa-trash
      .panel-body
        %h3
          #{@discussion.subject}
        %p.lead
          = simple_format auto_link(@discussion.body)
        - if can? :edit, @discussion
          %h5
            현재 결정 사항은
          %p.lead
            = form_for @discussion do |f|
              .form-group
                = f.text_area :decision, placeholder: '모두 볼 수 있도록 논의의 현재 결정 사항을 적어주세요', class: 'form-control'
              = f.submit '저장하기', class: 'btn btn-default'
        - elsif @discussion.decision.present?
          %h5.text-success
            %i.fa.fa-thumb-tack
            = simple_format auto_link(@discussion.decision), {}, wrapper_tag: "span"
        %hr

        .row
          .col-md-7
            %h4
              %i.fa.fa-comments
              의견
            %ul.media-list
              = render @discussion.opinions
              - if can? :edit, @discussion
                %li.media
                  .media-left
                    %a{:href => "#"}
                      = image_tag current_user.image_url, class: 'media-object img-circle', style: 'width:64px;height:64px;'
                  .media-body
                    = form_for [@discussion, @discussion.opinions.build] do |f|
                      .form-group
                        = f.text_area :body, class: 'form-control', style: "width: 100%; height: 100px;", placeholder: '내 의견은...'
                      = f.submit '의견올리기', class: 'btn btn-default'
          .col-md-5
            .panel.panel-default
              .panel-heading
                %h6.text-muted
                  %i.fa.fa-rocket
                  제안
              %table.table
                %tbody
                  - {best: @discussion.proposals.best, soso: @discussion.proposals.soso.latest}.each do |key, proposals|
                    = render proposals
                  - if can? :edit, @discussion
                    %tr
                      %td(colspan=2)
                        = form_for [@discussion, @discussion.proposals.build] do |f|
                          .form-group
                            = f.text_area :body, class: 'form-control', style: "width: 100%; height: 60px;", placeholder: '내 제안은...'
                          = f.submit '제안하기', class: 'btn btn-default'


.bs-component
  .container
    .row
      .col-md-7
        .panel.panel-default
          .panel-heading
            %h4.text-muted
              %i.fa.fa-flag
              논의
              - if can?(:update, @canoe)
                %small.pull-right
                  = link_to new_canoe_discussion_path(@canoe), class: 'btn btn-xs btn-success' do
                    %i.fa.fa-edit
                    논의 시작하기
          %table.table
            %tbody
              = render @canoe.discussions.order("updated_at DESC")

      .col-md-5
        .panel.panel-default
          .panel-heading
            %h4.text-muted
              %i.fa.fa-comments
              내가 참가하지 않은 의견 보기
