.bs-component
  .container
    %h4
      %ul.nav.nav-tabs
        %li.text-center(role="presentation" class="active" style='width: 50%')
          %a(href='#')
            %i.fa.fa-flag
            - if @all
              모든
            - else
              내
            논의
        %li.text-center(role="presentation" style='width: 50%')
          = link_to search_canoes_path(q: params[:q]) do
            %i.fa.fa-cubes
            카누

    - if params[:q].present?
      %p
        - if @all
          - if user_signed_in?
            .pull-right
              = link_to search_discussions_path(q: params[:q], all: 'false') do
                내 카누 논의에서만
                %i.fa.fa-arrow-right
        - else
          .pull-right
            = link_to search_discussions_path(q: params[:q], all: 'true') do
              모든 카누 논의에서
              %i.fa.fa-arrow-right
        %span.text-muted 검색 결과 #{@discussions_count}건
      - if @discussions_on_current_page.any?
        .row
          .col-xs-12
            .panel.panel-default
              %ul.list-group
                - @discussions_on_current_page.each do |discussion|
                  = render discussion, { show_canoe: true }
        .row
          .col-xs-12.text-center
            = paginate @discussions_on_current_page, theme: 'twitter-bootstrap-3'

