.bs-component
  .container
    = render 'discussions_form'

    - if params[:q].present?
      %p.text-muted #{@discussions_count}건의 논의를 찾았습니다.

    - if @discussions_on_current_page.any?
      .row
        .col-xs-12
          - @discussions_on_current_page.group_by(&:canoe).each do |canoe, discussions|
            - discussions.each do |discussion|
              .panel.panel-default
                .panel-heading.text-muted
                  = image_tag canoe.logo_url, class: 'img-thumbnail', style: 'width: 23px; height: 23px; margin-right: 1px;'
                  = link_to canoe.title, canoe_home_path(canoe)
                %table.table
                  = render discussion

                - opinions_count = discussion.opinions.search_for(params[:q]).count
                - proposals_count = discussion.proposals.search_for(params[:q]).count
                - if opinions_count > 0 or proposals_count > 0
                  .panel-footer
                    - opinions_count = discussion.opinions.search_for(params[:q]).count
                    - proposals_count = discussion.proposals.search_for(params[:q]).count
                    %tr
                      %td.bg-warning(colspan=2)
                        - opinions_count = discussion.opinions.search_for(params[:q]).count
                        - proposals_count = discussion.proposals.search_for(params[:q]).count

                        이 논의에서
                        - if opinions_count > 0
                          %i.fa.fa-comments
                          의견
                          %strong
                            #{discussion.opinions.search_for(params[:q]).count}건
                        - if opinions_count > 0 and proposals_count > 0
                          과
                        - if proposals_count > 0
                          제안
                          %strong
                            %i.fa.fa-rocket
                            #{discussion.proposals.search_for(params[:q]).count}건이
                        검색되었습니다.
      .row
        .col-xs-12.text-center
          = paginate @discussions_on_current_page, theme: 'twitter-bootstrap-3'

