
.bs-component
  .container
    .page-header
      %h3
        검색
        = form_tag search_path, method: :get, class: 'form-inline', style: 'display: inline-block; margin-left: 15px;' do
          .form-group(style='display: inline-block')
            = text_field_tag :q, params[:q], class: 'form-control'
          = submit_tag '찾기', class: 'btn btn-default'

    - if params[:q].present?
      %p.lead #{@canoes_count}건의 카누와 #{@discussions_count}건의 논의를 찾았습니다.

      - if @canoes_on_current_page.any?
        %h4
          %i.fa.fa-cubes
          카누
        .row
          - @canoes_on_current_page.each do |canoe|
            .col-sm-4.col-xs-6
              = render canoe
        - if @canoes_on_current_page.count < @canoes_count
          .row
            .col-xs-12.text-right
              %button.btn.btn-default 더보기
      - if @discussions_on_current_page.any?
        %h4
          %i.fa.fa-flag
          논의
        .row
          .col-xs-12
            - @discussions_on_current_page.group_by(&:canoe).each do |canoe, discussions|
              - discussions.each do |discussion|
                .panel.panel-default
                  .panel-heading.text-muted
                    %i.fa.fa-cubes
                    = link_to canoe.title, canoe_home_path(canoe)
                  %table.table
                    = render discussion

                  - opinions_count = discussion.opinions.search_for(params[:q]).count
                  - proposals_count = discussion.proposals.search_for(params[:q]).count
                  - if opinions_count > 0 or proposals_count > 0
                    .panel-footer
                      - opinions_count = discussion.opinions.search_for(params[:q]).count
                      - proposals_count = discussion.proposals.search_for(params[:q]).count
                      %tr
                        %td.bg-warning(colspan=2)
                          - opinions_count = discussion.opinions.search_for(params[:q]).count
                          - proposals_count = discussion.proposals.search_for(params[:q]).count

                          이 논의에서
                          - if opinions_count > 0
                            %i.fa.fa-comments
                            의견
                            %strong
                              #{discussion.opinions.search_for(params[:q]).count}건
                          - if opinions_count > 0 and proposals_count > 0
                            과
                          - if proposals_count > 0
                            제안
                            %strong
                              %i.fa.fa-rocket
                              #{discussion.proposals.search_for(params[:q]).count}건이
                          검색되었습니다.
        - if @discussions_on_current_page.count < @discussions_count
          .row
            .col-xs-12.text-right
              = link_to search_path(q: params[:q], model: Discussion.to_s.underscore), class: 'btn btn-default' do
                더보기

