.thumbnail.canoe
  = link_to canoe_home_path(canoe), class: 'canoe__logo', style: "background-image: url(#{canoe.logo_url});" do
    = canoe.title
  .caption
    %h3= link_to canoe.title, canoe_home_path(canoe)
    %p.canoe__description= simple_format auto_link(canoe.theme)
    %hr
    %ul.canoe__count.list-inline.text-muted
      %li
        %i.fa.fa-flag
        논의
        %strong= canoe.discussions.count
        개
      %li
        %i.fa.fa-comments
        의견
        %strong= canoe.opinions.count
        개
      %li
        %i.fa.fa-users
        선원
        %strong= canoe.crews.count
        명
