%section{ style: "background-size: cover; background-image: url('#{@canoe.cover_url}'); margin-top: -30px; margin-bottom: 30px;"}
  .container
    .jumbotron.jumbotron-transparent{ style: 'margin: 0' }
      %div.clearfix
        .pull-left
          = link_to canoe_home_path(@canoe) do
            = image_tag @canoe.logo_url, class: 'img-thumbnail', style: 'width: 125px; height: 125px; margin-right: 20px;'
        %h2{ style: 'margin-top: 0;' }
          = link_to @canoe.title, canoe_home_path(@canoe), { style: 'font-weight: bold; color:white; text-shadow: 0px 2px 0px black; text-decoration: none;'}
          %small
            - if @canoe.user == current_user
              = link_to [:edit, @canoe] do
                %i.fa.fa-edit
              = link_to @canoe, method: :delete do
                %i.fa.fa-trash


        %p.lead
          = @canoe.theme

        %div
          = link_to canoe_crews_path(@canoe), class: 'btn btn-primary' do
            %i.fa.fa-users
            = @canoe.crews.count
          - if user_signed_in?
            - if @canoe.crew?(current_user)
              = link_to new_canoe_crew_path(@canoe), class: 'btn btn-danger' do
                %i.fa.fa-user-plus
                승선시키기
            - else
              - if @canoe.request_to_join?(current_user)
                %button.btn.btn-danger.disabled
                  %i.fa.fa-sign-in
                  승선요청 중
              - else
                = link_to ask_canoe_request_to_joins_path(canoe_id: @canoe), method: :post, class: 'btn btn-danger' do
                  %i.fa.fa-sign-in
                  승선요청하기
        - if user_signed_in? and @canoe.crew?(current_user)
          %div{ style: 'margin-top: 20px;' }
            = form_for @canoe do |f|
              .form-group
                = f.text_area :board, class: 'form-control'
              = f.submit '저장하기', class: 'btn btn-default'
        - elsif @canoe.board.present?
          %div{ style: 'margin-top: 20px;' }
            = simple_format @canoe.board
