%section{ style: "background-size: cover; background-image: url('#{@canoe.cover_url}'); margin-top: -30px; margin-bottom: 30px;"}
  .container
    .jumbotron.jumbotron-transparent{ style: 'margin: 0' }
      %div.clearfix
        .pull-left
          = link_to canoe_home_path(@canoe) do
            = image_tag @canoe.logo_url, class: 'img-thumbnail', style: 'width: 125px; height: 125px; margin-right: 20px;'
        %h2{ style: 'margin-top: 0;' }
          = link_to @canoe.title, canoe_home_path(@canoe), { style: 'font-weight: bold; color:white; text-shadow: 1px 2px 0px black; text-decoration: none;'}
          %small
            - if can?(:update, @canoe)
              = link_to [:edit, @canoe] do
                %i.fa.fa-edit
            - if can?(:destory, @canoe)
              = link_to @canoe, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} do
                %i.fa.fa-trash
        = simple_format @canoe.theme, style: 'font-size: 15px; color: white; text-shadow: 1px 1px 0px black; margin-left: 145px;'

        - if user_signed_in? and !@canoe.crew?(current_user)
          %p.text-muted{style: 'font-size: 15px; color: white; text-shadow: 1px 1px 0px black; margin-left: 145px;'}
            승선하지 않은 카누입니다. 승선하지 않아도 의견을 보거나 제안에 투표하실 수 있습니다.
            %br
            의견을 내거나 제안하시려면 먼저 탑승요청을 해주세요.
            - if @canoe.request_to_join?(current_user)
              %button.btn.btn-xs.btn-danger.disabled
                %i.fa.fa-sign-in
                탑승요청 중
            - elsif can?(:ask_crew, @canoe)
              = link_to ask_canoe_request_to_joins_path(canoe_id: @canoe), method: :post, class: 'btn btn-xs btn-danger' do
                %i.fa.fa-sign-in
                탑승요청하기

