%section(class="#{'pattern-trianglify' if @canoe.cover.blank?}" style="background-size: cover; background-image: url('#{@canoe.cover_url}'); margin-top: -30px; margin-bottom: 30px;")
  .container
    - if user_signed_in? and !@canoe.crew?(current_user)
      .alert.alert-warning.clearfix(style='position: relative; top: 22px;')
        %p
          %strong @#{current_user.nickname}님께서 승선하지 않은 카누입니다.
        %p
          - if @canoe.public_join?
            - if @canoe.request_to_join?(current_user)
              의견을 내거나 제안하려면 먼저 승선요청이 수락될 때까지 기다려 주세요.
            - elsif can?(:ask_public_crew, @canoe)
              의견을 내거나 제안하려면 먼저
              #{link_to '승선요청', ask_canoe_request_to_joins_path(canoe_id: @canoe), method: :post}을
              해주세요.
          승선하지 않아도 의견을 보거나 제안에 투표할 수는 있습니다.
        - if @canoe.public_join?
          %p.pull-right
            - if @canoe.request_to_join?(current_user)
              %button.btn.btn-xs.btn-danger.disabled
                %i.fa.fa-sign-in
                승선요청 중
            - elsif can?(:ask_public_crew, @canoe)
              = link_to ask_canoe_request_to_joins_path(canoe_id: @canoe), method: :post, class: 'btn btn-xs btn-danger' do
                %i.fa.fa-sign-in
                승선요청하기
    - if can?(:accept_public_crew, @canoe) and @canoe.request_to_joins.any?
      .alert.alert-warning.clearfix(style='position: relative; top: 22px;')
        %p
          %strong 승선요청이 #{@canoe.request_to_joins.count}건 있습니다.
          = link_to canoe_request_to_joins_path(@canoe), class: 'btn btn-xs btn-danger' do
            %i.fa.fa-sign-in
            승선요청 확인하기
    .jumbotron.jumbotron-transparent{ style: 'margin: 0' }
      %div.clearfix
        .pull-left
          = link_to canoe_home_path(@canoe) do
            = image_tag @canoe.logo_url, class: 'img-thumbnail', style: 'width: 125px; height: 125px; margin-right: 20px;'
        %h2{ style: 'margin-top: 0;' }
          = link_to @canoe.title, canoe_home_path(@canoe), { style: 'font-weight: bold; color:white; text-shadow: 1px 2px 0px black; text-decoration: none;'}
          %small
            - if can?(:update, @canoe)
              = link_to [:edit, @canoe] do
                %i.fa.fa-edit
            - if can?(:destory, @canoe)
              = link_to @canoe, method: :delete, data: { confirm: '정말 삭제하시겠습니까?'} do
                %i.fa.fa-trash
        = smart_body @canoe.theme, style: 'font-size: 15px; color: white; text-shadow: 1px 1px 0px black; margin-left: 145px;'


