.thumbnail
  = link_to canoe_home_path(canoe) do
    = image_tag canoe.logo_url, class: 'img-responsive'
  .caption
    %h3= link_to canoe.title, canoe_home_path(canoe)
    %p{ style: 'height:70px' }= canoe.theme
    %hr
    %ul.list-inline.text-muted{ style: 'font-size: 0.8em' }
      %li
        %i.fa.fa-flag
        논의
        %strong= canoe.discussions.count
        개
      %li
        %i.fa.fa-comments
        의견
        %strong= canoe.opinions.count
        개
      %li
        %i.fa.fa-users
        선원
        %strong= canoe.crews.count
        명
