= form_for @canoe do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :theme
    = f.text_area :theme, class: 'form-control'
  .form-group
    = f.label :slug
    .input-group
      .input-group-addon
        #{request.base_url}/
      = f.text_field :slug, class: 'form-control'
    %em 영문자와 숫자만 넣어주세요
    %em 이미 등록된 slug는 거부됩니다.
  .form-group
    = f.label :logo
    = f.file_field :logo, class: 'form-control'
  .form-group
    = f.label :cover
    = f.file_field :cover, class: 'form-control'
  .form-group
    = f.label :is_able_to_request_to_join
    .checkbox
      %label
        = f.check_box :is_able_to_request_to_join
        손님의 가입 요청을 받습니다
  .form-group
    = f.label :slack_webhook_url
    = f.text_field :slack_webhook_url, class: 'form-control'
  = f.submit '저장', class: 'btn btn-default'
