= render 'canoe_header'

.bs-component
  .container
    .panel.panel-default
      .panel-heading
        %h4.text-muted
          %i.fa.fa-history
          이력
    %ul.list-group
      - @canoe.versions.reverse.each do |version|
        %li.list-group-item
          = user_byline(User.find_by id: version.whodunnit)
          %i.fa.fa-clock-o
          = date_f version.created_at
          %p
            - version.changeset.each do |attribute, (from, to)|
              - if attribute == 'is_able_to_request_to_join'
                %strong
                  - if to == true
                    손님의 승선 요청을 받도록
                  - else
                    손님의 승선 요청을 받지 않도록
                바꾸었습니다.
              - else
                %strong
                  #{attribute}
                를
                %strong
                  #{from}
                에서
                %strong
                  #{to}
                로 바꾸었습니다.
