.bs-component
  .container
    .page-header
      %h3
        - if params[:list] == 'all'
          %i.fa.fa-cubes
          모든 카누
          %small
            = link_to canoes_path do
              내 카누
        - else
          %i.fa.fa-cubes
          내 카누
          %small
            = link_to canoes_path({list: 'all'}) do
              모든 카누
    .row
      .col-xs-12.clearfix
        - if params[:list] == 'all'
          = form_tag search_canoes_path, method: :get, class: 'form-inline', style: 'display: inline-block; margin-bottom: 20px' do
            = hidden_field_tag :list, 'all'
            .form-group(style='display: inline-block')
              = text_field_tag :q, params[:q], class: 'form-control'
            = submit_tag '찾기', class: 'btn btn-default'
          = link_to canoes_path({list: 'all'}) do
            취소
    .row
      - @canoes.each do |canoe|
        .col-sm-4.col-xs-6
          = render canoe
      - if @canoes.empty?
        .col-xs-12
          해당 카누가 없습니다.

    .row
      .col-xs-12.text-center
        = paginate @canoes, theme: 'twitter-bootstrap-3'
