.bs-component
  .panel.panel-default
    .panel-heading
      %h3
        %i.fa.fa-ship
        #{@canoe.title}
        %small
          %i.fa.fa-user
          = @canoe.user.nickname
          %i.fa.fa-clock-o
          = date_f @canoe.created_at
          - if @canoe.user == current_user
            = link_to [:edit, @canoe] do
              %i.fa.fa-edit
            = link_to @canoe, method: :delete do
              %i.fa.fa-trash
    .panel-body
      = @canoe.theme

  .row
    .col-md-7
      .panel.panel-default
        .panel-heading
          %h4.text-muted
            %i.fa.fa-flag
            논의
            %small
              = link_to new_canoe_discussion_path(@canoe) do
                %i.fa.fa-plus
        %ul.list-group
          - @canoe.discussions.each do |discussion|
            %li.list-group-item
              = link_to discussion do
                %p.lead= discussion.subject
                %p= discussion.body
                %small
                  %i.fa.fa-user
                  = discussion.user.nickname
                  %i.fa.fa-clock-o
                  = date_f discussion.created_at
    .col-md-5
      .panel.panel-default
        .panel-heading
          %h4.text-muted
            %i.fa.fa-comments
            최근 의견
        %ul.list-group
          - @canoe.opinions.last(5).each do |opinion|
            %li.list-group-item
              %p
                = link_to opinion.discussion do
                  %i.fa.fa-flag
                  = opinion.discussion.subject
              %p.lead= opinion.body
              %i.fa.fa-user
              = opinion.user.nickname
              %i.fa.fa-clock-o
              = date_f opinion.created_at
              - if opinion.user == current_user
                = link_to [:edit, opinion] do
                  %i.fa.fa-edit
                = link_to opinion, method: :delete do
                  %i.fa.fa-trash
