= render 'canoe_header'

.bs-component
  .container
    %h4(style='position: relative;')
      - if can?(:create, @canoe.discussions.build)
        %div(style='position: absolute; right: 0')
          = link_to new_canoe_discussion_path(@canoe), class: 'btn btn-primary' do
            %i.fa.fa-edit
            논의열기
      - if !@canoe.crew?(current_user) and !@canoe.invited?(current_user)
        - if @canoe.is_able_to_request_to_join?
          - if @canoe.request_to_join?(current_user)
            %div(style='position: absolute; right: 0')
              %button.btn.btn-danger.disabled
                %i.fa.fa-sign-in
                가입대기
          - else
            %div(style='position: absolute; right: 0')
              = link_to ask_canoe_request_to_joins_path(canoe_id: @canoe), method: :post, class: 'btn btn-danger' do
                %i.fa.fa-sign-in
                가입하기
      %ul.nav.nav-tabs
        %li.text-center(role="presentation" class="active" style="min-width: 30%")
          %a(href="#discussions" role="tab" data-toggle="tab")
            %i.fa.fa-flag
            논의
        %li.text-center(role="presentation" style="min-width: 30%")
          %a(href="#crews" role="tab" data-toggle="tab")
            %i.fa.fa-users
            회원
    .tab-content(style='margin-top: 20px;')
      .tab-pane.active#discussions(role="tabpanel")
        .panel.panel-default
          .panel-heading
            %ul.list-inline(style='margin: 0.7em auto;')
              - active_filter = :all
              - active_filter = :decided if params[:discussions] == 'decided'
              - active_filter = :undecided if params[:discussions] == 'undecided'
              %li
                = link_to canoe_home_path(@canoe, discussions: :all), style: "#{active_filter == :all ? 'font-weight: bold; color: #999999;' : 'color: #c1c1c1;' }" do
                  %i.fa.fa-inbox
                  모든
              %li
                = link_to canoe_home_path(@canoe, discussions: :decided), style: "#{active_filter == :decided ? 'font-weight: bold; color: #999999;' : 'color: #c1c1c1;' }" do
                  %i.fa.fa-thumb-tack
                  결정이 있는

              %li
                = link_to canoe_home_path(@canoe, discussions: :undecided), style: "#{active_filter == :undecided ? 'font-weight: bold; color: #999999;' : 'color: #c1c1c1;' }" do
                  %i.fa.fa-question
                  결정이 없는

          %ul.list-group
            - @discussions.each do |discussion|
              = render discussion
      .tab-pane#crews(role="tabpanel")
        .panel.panel-default
          .panel-heading
            %div(style='margin: 0.7em auto;')
              모두 #{@canoe.crews.count}명의 회원이 참여하고 있습니다.
              - if can?(:create, @canoe.invitations.build)
                = link_to canoe_invitations_path(@canoe), class: 'btn btn-xs btn-success' do
                  %i.fa.fa-user-plus
                  초대하기
              - if can?(:permit_to_join, @canoe) and @canoe.request_to_joins.any?
                = link_to canoe_request_to_joins_path(@canoe), class: 'btn btn-xs btn-success' do
                  %i.fa.fa-sign-in
                  가입요청
                  %span.badge #{@canoe.request_to_joins.count}
              - if @canoe.crew?(current_user) and !@canoe.captain?(current_user)
                = link_to canoe_crews_me_path(@canoe), method: :delete,  data: { confirm: '정말 탈퇴하시겠습니까?'}, class: 'btn btn-primary btn-xs' do
                  %i.fa.fa-sign-out
                  탈퇴하기
          .panel-body
            .row
              .col-sm-3.col-xs-4
                .thumbnail.crew
                  .crew__image(style="background-image: url(#{@canoe.user.image_url});")
                    = @canoe.user.nickname
                  .caption
                    = @canoe.user.nickname

              - @canoe.crews.exclude_captain.each do |crew|
                .col-sm-3.col-xs-4
                  .thumbnail.crew
                    .crew__image(style="background-image: url(#{crew.user.image_url});")
                      = crew.user.nickname
                    .caption
                      = crew.user.nickname
