- attachments = attachable.attachments
- if attachments.reject(&:image?).any?
  %ul.list-unstyled(style='margin-top: 10px; margin-bottom: 10px;')
    - attachments.reject(&:image?).each do |attachment|
      %li
        %i.fa.fa-file-o
        = link_to attachment.original_filename, attachment.source_url
        - if can? :delete, attachment
          = link_to attachment, method: :delete, class: 'text-muted', data: { confirm: '정말 삭제하시겠습니까?'} do
            %i.fa.fa-times-circle
.attachments--image
  - attachments.select(&:image?).each do |attachment|
    .row
      .col-xs-8
        .thumbnail(style='overflow:hidden')
          - if can? :delete, attachment
            = link_to attachment, method: :delete, class: 'text-muted', style: 'position:absolute; top:0; right:0;', data: { confirm: '정말 삭제하시겠습니까?'} do
              %i.fa.fa-times-circle
          = link_to attachment.source_url do
            =image_tag attachment.source_url
            %p.caption.text-center= attachment.original_filename

