= render 'canoes/canoe_header'

%section.bs-component
  .container
    %h3 초대하기
    = render 'form'

- if @canoe.invitations.persisted.any?
  %section.bs-component
    .container
      .panel.panel-default(style='margin-top: 20px;')
        .panel-heading
          %h4.text-muted
            %i.fa.fa-users
            초대 중인 회원
            %span.badge= @canoe.invitations.persisted.count
        %table.table.table-hover
          %tbody
            - @canoe.invitations.persisted.each do |invitation|
              %tr
                %td
                  %strong= invitation.guest_name
                %td
                  %div.text-nowrap
                    %i.fa.fa-clock-o
                    #{date_f invitation.created_at}
                %td
                  @#{invitation.host.nickname}님이
                  초대하였습니다.
                %td
                  = link_to invitation_path(invitation), method: :delete, class: 'btn btn-default btn-xs' do
                    취소
