%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header.navbar-left.pull-left
      %a.navbar-brand{ href: root_path }
        %strong canoe
        - if user_signed_in? and current_user.crewing_discussions.unread.any?
          %span.badge.badge-default= current_user.crewing_discussions.unread.count
      %ul.nav.navbar-nav.pull-right(style="margin-left: 5px")
        - unless user_signed_in?
          %li
            = link_to canoes_path({list: 'all'}) do
              %i.fa.fa-cubes
              모든 카누
        - else
          %li.dropdown.pull-right
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
              - if current_canoe.try(:crew?, current_user)
                = image_tag current_canoe.logo_url, class: 'img-thumbnail', style: 'width: 23px; height: 23px; margin-right: 1px;'
                = current_canoe.title
              - else
                %i.fa.fa-cubes
                내 카누
              %span.caret
            %ul.dropdown-menu.dropdown-menu-canoe
              - current_user.crewing_canoes.each do |canoe|
                %li(class="#{'bg-danger' if current_canoe == canoe}")
                  = link_to canoe_home_path(canoe) do
                    = image_tag canoe.logo_url, class: 'img-thumbnail', style: 'width: 23px; height: 23px; margin-right: 1px;'
                    = canoe.title
              - unless current_user.crewing_canoes.empty?
                %li(role="separator" class="divider")
              %li
                = link_to canoes_path do
                  %i.fa.fa-list
                  내 카누 목록
              %li
                = link_to new_canoe_path do
                  %i.fa.fa-edit
                  카누 만들기
    .navbar-header
      %button.navbar-toggle.navbar-right.offcanvas-toggle{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "offcanvas", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        - if user_signed_in? and (current_user.mailbox.notifications.unread.any? or current_user.crewing_discussions.unread.any?)
          %i.fa.fa-circle.text-danger(style='position: absolute; top: -7px; left: 35px;')
      %ul.nav.navbar-nav
        %li.dropdown.pull-right
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %i.fa.fa-search
          %ul#dropdown-login.dropdown-menu.dropdown-menu-canoe(style="padding: 20px;")
            = form_tag search_path, method: :get, class: 'form-inline' do
              %li(style='white-space: nowrap')
                .form-group
                  = text_field_tag :q, nil, class: 'form-control', style: 'width: 250px;'
                .form-group
                  = submit_tag "찾기", :class => "btn btn-primary pull-right"

    #navbar.navbar-offcanvas.navbar-offcanvas-right
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            = link_to new_discussion_path do
              %i.fa.fa-flag
              새 논의 만들기
          %li.nav-item.dropdown.active
            %a.dropdown-toggle{:href => "#"}
              = user_byline current_user
              %span.caret
            %ul.dropdown-menu.shown
              %li
                = link_to messages_path do
                  - if current_user.mailbox.notifications.unread.any?
                    %i.fa.fa-bell.text-danger
                    알림
                    %span.badge= current_user.mailbox.notifications.unread.count
                  - else
                    %i.fa.fa-bell-o.text-mute
                    알림
              %li
                = link_to edit_user_path do
                  %i.fa.fa-pencil-square-o
                  프로필
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  로그아웃
        - else
          %li= link_to '회원가입', sign_up_path
          %li= link_to '로그인', new_user_session_path
        %li
          %a(href='http://canoe.parti.xyz/better-canoe')
            %i.fa.fa-bullhorn
            제안이 있으세요?
          %div(style='padding: 0 15px; font-size: 80%;')
            %a(href="http://canoe.parti.xyz/better-canoe")<
              better-canoe
            에 제안해 주세요.
