%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: root_path }
        %strong canoe
    #navbar.collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
              %i.fa.fa-cubes
              탑승한 카누
              %span.caret
            %ul.dropdown-menu
              - current_user.crewing_canoes.each do |canoe|
                %li= link_to canoe.title, canoe_home_path(canoe)
              - unless current_user.crewing_canoes.empty?
                %li(role="separator" class="divider")
              %li
                = link_to canoes_path do
                  %i.fa.fa-list
                  내가 탑승한 모든 카누 보기
              %li
                = link_to new_canoe_path do
                  %i.fa.fa-edit
                  카누 만들기
          %li
            = link_to discussions_path do
              %i.fa.fa-comments
              최근 논의
              - if current_user.crewing_discussions.unread.any?
                %span.badge.badge-default= current_user.crewing_discussions.unread.count
          %li
            = link_to opinions_path do
              @#{current_user.nickname}
              %span.badge.badge-default 5

        = link_to new_discussion_path, class: 'btn btn-success btn-xs navbar-btn navbar-left' do
          %i.fa.fa-flag
          논의 시작하기
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to messages_path do
              - if current_user.mailbox.notifications.unread.any?
                %i.fa.fa-bell.text-danger
                %span.badge= current_user.mailbox.notifications.unread.count
              - else
                %i.fa.fa-bell-o.text-mute
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = user_byline current_user
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to edit_user_path do
                  %i.fa.fa-pencil-square-o
                  프로필
              %li
                = link_to destroy_user_session_path, method: :delete do
                  %i.fa.fa-sign-out
                  로그아웃
        - else
          %li= link_to '회원가입', sign_up_path
          %li= link_to '로그인', new_user_session_path
      %form.navbar-form.navbar-right{:role => "search"}
        .form-group
          %input.form-control{:placeholder => "검색", :type => "text"}/
        %button.btn.btn-default{:type => "submit"} 찾기
